<footer>
	<!-- <hr class = "navbar-divider"> -->
	<div class="container">
		<nav class="navbar navbar-default advo-navbar footer-navbar" role="navigation">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav footer-navbar">
				<li > <a href="/advertise">Advertise</a></li>
				<li ><a href="/alumni">Alumni</a></li>
				<li ><a href="/contact">Contact Us</a></li>
				<li ><a href="/comp">Comp</a></li>
				<li ><a href="/blog/submit">Submit</a></li>
			</ul>
		</nav>
		<div class="copyright">
			Copyright &#169; The Harvard Advocate 2017 | <a href="/admin">Log In</a>
		</div>
	</div>
	</div>
</footer>
